.header {
    background-color: orange;
    padding: 10px 0;
  
    .header_logo {
      width: 60px;
      height: 60px;
      min-width: 60px;
  
      svg, img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }